
.main-Sign{
	display: flex;
	width: 100vw;
	min-height: 100vh;

	position: relative;
	
	background-color: #eff1f3;
	background-color: #111;
/*	background-image: url("../img/bg-home.jpg");*/
/*	background-image: url("../img/bg-sign.jpeg");*/
	background-size: cover;
}

.mSign-header{
	position: fixed;
	background-color: #272727;
	width: 30vw;
	height: 100%;
	text-align: center;
}

.mSign-header-logoCont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

/*****************************/

.content{
	position: relative;
	width: 70%;
	height: 100%;
	margin-left: 30%;
	text-align: center;	
}

.mAbout-intro{
	position: relative;
	top: 1%;
	left: 50%;
	background-color: rgba(240,240,240,.1);
	background-color: rgba(24,24,24,.8);
	width: 95%;
	height: 100vh;
	min-height: 50vw;
	padding: 6% 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 5px; 
	transform: translateX(-50%);
}

.mAbout-intro > .mSmall-title{
	display: block;
	font-size: 8vw;
	border: none;
}

.mAbout-subtitle{
	position: relative;
	top: 45%;
	display: block;
	width: 65%;
	padding-left: 3vw;
	margin: auto;
	/*margin-top: 15vh;*/
	border-left: 5px solid rgb(106, 181, 108);
	color: #fff;
	font-size: 4.4vw;
	text-align: left;
	transform: translateY(-50%);
}

.mAbout-subline{
	display: block;
}

.mAbout-subline > em{
	color: rgb(106, 181, 108);
	font-style: normal;
}

.mAbout-box{
	position: relative;
	top: 1%;
	left: 50%;
	width: 95%;
/*	padding: 6vh 2vw;*/
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 5px; 
	transform: translateX(-50%);
}

.mAbout-box-title{
	background-color: #272727;;
	padding: 1.5vh 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: rgb(106, 181, 108);
	font-size: 2vw;
}

.mAbout-box-info{
	background-color: #dbdbdb;
	padding: 2vh 2vw;
	font-size: 1.3vw;
}