.main{
	position: relative;
	
	background-color: #eff1f3;
	background-color: #272727;
	background-image: url("../img/bg-home.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

/*
#################################
			CONTENT
#################################
*/

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	
	display: block;
	width: 100%;
	padding: 4% 0;
	margin: auto;
	
	transform: translateY(-50%)
				translateX(-50%);
}

/*---------------------------------
		contHome-logo
---------------------------------*/

.contHome-title{
	position: relative;
	display: block;
	padding-bottom: 7vh;	

	text-align: center;
}

.mHome-title{
	font-weight: lighter;
	display: inline-block;
	width: 70%;
	padding-top: 1.4vw;
	border-bottom: 2px solid rgba(180,180,180);

	color: #fff;
	font-size: 5.5vw;
/*	text-shadow: 1px 0px #333,
				 -1px 0px #333,
				 0px 1px #333,
				 0px -1px #333;*/
}

.title-space{
	padding-right: 15px;
	margin-left: 5px;
	color: rgb(106, 181, 108);
/*	text-shadow: 1px 0px rgba(255,255,255,.8),
				 -1px 0px rgba(255,255,255,.8),
				 0px 1px rgba(255,255,255,.8),
				 0px -1px rgba(255,255,255,.8);*/
}


/*---------------------------------
		contHome-logButtons
---------------------------------*/

.contHome-logButtons{
	display: flex;
	justify-content: space-between;

	width: 70%;
	margin: auto;
	margin-top: 50px;

}

.contHome-enterBtn{
	display: block;
	
	background-color: transparent;
	width: 38%;
	padding: 5px;
	margin: auto;
	border: 3px solid #fff;

	color: #fff;
	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
}

.contHome-enterBtn:hover{
	background-color: rgba(33,33,33,.2);
	border-color: rgb(133, 230, 136);
	color: rgb(133, 230, 136);

}