/*
	SCREEN: 	#C5C1C0;
	STEEL:  	#0A1612;
	DENIM:		#1A2930;
	MARIGOLD:	#F7CE3E;

*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body{
	width: 100vw;
    font-family: 'Droid Sans Mono', monospace;

}

#logo{
	display: inline-block;
	background-color: #ededed;
	width: 20vw;
	height: 20vw;
	padding-left: 1vw;
	margin: auto;
	border: 5px solid #aaa;
	border-radius: 50%;

	color: rgb(106, 181, 108);
	text-shadow: 2px 2px 5px #000;
	font-size: 18vw;
}

.mSmall-title{
	display: block;

	width: 70%;
	padding-top: 1.4vw;
	padding-right: 15px;
	margin: 0 auto;
	border-bottom: 2px solid rgba(180,180,180);


	color: #fff;
	font-size: 2.4vw;
	font-weight: lighter;
}

.mSmall-title-mono{
	margin-top: 30px;
	color: #fff;
	text-shadow: 2px 2px rgba(0,0,0,.5);
}

.mSmall-title-space{
	color: rgb(106, 181, 108);
	text-shadow: 2px 2px rgba(0,0,0,.8);
}


.enter-button{	
	display: block;
	padding: 10px 5vw;
	margin: auto;
	/*margin-top: 100px;*/
	border: 3px solid #333;
	border-radius: 5px;

	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
}

.enter-button:hover{
	color: rgb(106, 181, 108);
}
.enter-button:active{
	background-color: #333;
	border-color:#dbdbdb;
	color: rgb(106, 181, 108);
}

/*---------------------------------
			main-nav
---------------------------------*/
.main-nav{
	position: absolute;
	top: 0;
	left: 0;
	
	overflow: hidden;

	background-color: #101010;
	width: 100%;
	height: 4vw;
	border: 3px solid #202020;
	color: #dbdbdb;
	text-align: center;
	font-size: 1.3vw;
	transition: height .3s;
}

.main-nav:hover{
	overflow: hidden;
	height: 100%;
	transition: height .5s;
}

.mNav-menu{
	font-size: 2vw;
	padding-top: 1vh;
	margin-bottom: 4vh;
}

.mNav-list{
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	padding-bottom: 10px;
	margin-bottom: 10%;
	
	color: #333;
	font-size: 1.4vw;
	text-transform: uppercase; 
}

.mNav-list:hover{
	opacity: 1;
}

.mNav-item{
	display: inline-block;
	margin-bottom: 5px;
	color: #666;
	font-size: 1.4vw;
	width: 100%;
	height: 15vh;
	line-height: 15vh;
}

.mNav-item:hover{background-color: rgb(106, 181, 108);color:#000;font-weight: bold;}