/*
	SCREEN: 	#C5C1C0;
	STEEL:  	#0A1612;
	DENIM:		#1A2930;
	MARIGOLD:	#F7CE3E;

*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body{
	width: 100vw;
    font-family: 'Droid Sans Mono', monospace;

}

#logo{
	display: inline-block;
	background-color: #696773;
	width: 20vw;
	height: 20vw;
	padding-left: 1vw;
	margin: auto;
	border: 1px solid transparent;
	border-radius: 50%;

	color: #fed766;
	text-shadow: 2px 2px 5px #000;
	font-size: 18vw;
}

.enter-button{	
	display: block;
	padding: 10px 5vw;
	margin: auto;
	/*margin-top: 100px;*/
	border: 3px solid #333;
	border-radius: 15px;

	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
}

.enter-button:hover{
	background-color: #FFF9C4;
}
.enter-button:active{
	background-color: #FFEB3B;
	color: #536DFE;
}

/****************************
		MAIN NAV
****************************/
