
.main-Sign{
	display: flex;
	width: 100vw;
	min-height: 100vh;
	height: 100vh;

	position: relative;
	
	background-color: #eff1f3;
	background-color: #222;
/*	background-image: url("../img/bg-home.jpg");*/
	background-image: url("../img/bg-sign.jpeg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.mSign-header{
	position: relative;
	background-color: #272727;
	width: 30vw;
	height: 100%;
	text-align: center;
}

.mSign-header-logoCont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}


.mLateral-title{
	display: block;

	width: 70%;
	padding-top: 1.4vw;
	padding-right: 15px;
	margin: 0 auto;
	border-bottom: 2px solid rgba(180,180,180);


	color: #fff;
	font-size: 2.4vw;
	font-weight: lighter;
}

.mLateral-title-mono{
	margin-top: 30px;
	color: #fff;
	text-shadow: 2px 2px rgba(0,0,0,.5);
}

.mLateral-title-space{
	color: rgb(106, 181, 108);
	text-shadow: 2px 2px rgba(0,0,0,.8);
}

/*****************************/

.content{
	position: relative;
	width: 70%;
	text-align: center;	
}

.mSign-formCont{
	position: relative;
	top: 50%;
	left: 50%;
	background-color: rgba(240,240,240,.1);
	background-color: rgba(24,24,24,.8);
	width: 80%;
	padding: 6vh 0;
	border: 3px solid rgba(240,240,240,.1);
	border-radius: 25px; 
	transform: translateY(-50%)
				translateX(-50%);
}

.mSign-form-title{
	position: relative;
/*	transform: translateY(-5vh);*/
	padding-bottom: 5vh;
	color: rgb(106, 181, 108);
	font-size: 5vw;
	text-transform: uppercase;
}

.form-input{
	background-color: transparent;
	display: block;
	margin: auto;
	margin-top: 2vh;
	border: none;
	border-bottom: 2px solid #eee;
	
	color: #fff;
	font-size: 2.5vw;
	text-align: center;
}

.form-input:invalid{
	box-shadow: none;
	border-color: rgb(160,0,0);
}

.mSign-signIn,
.mSign-signUp,
.mSign-forgot{
	display: inline-block;
	padding: 5px;
	color: #fff;
	font-size: 1.5vw;
}

.enter-button{
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.main-nav{
}